@model IEnumerable<Saaloon.Context.Cursos>

@{
    ViewBag.Title = "ListadoCursos";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<br />
<nav class="navbar navbar-dark bg-dark">   
    <a class="navbar-brand" href="#"><b>Listado Cursos</b></a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
</nav>
<br />
<div class="table table-striped">
    @foreach (var item in Model)
    {
        <div class="media">
            <div class="card media-body">              
                    <h5 class="mt-0 mb-1">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                    @Html.DisplayFor(modelItem => item.Descripcion)                
            </div>          
                <div class="col-sm-2 container-md">
                    <a href="@Url.Action("ContenidoCursoTema", "Principal", new { idCurso = item.IdCurso})">
                        <img class="img-fluid" src="@Html.DisplayFor(modelItem => item.Foto)">
                       
                        <center><br />
                            @*<p>$@Html.DisplayFor(modelItem => item.Costo)*@
                            <b class="btn btn-info btn-sm">Ver más...</b>
                        </center>
                    </a>
                </div>
        </div>
        <br />
    }
</div>
