@model Saaloon.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<br />
<div class="loginloginlogin">
    <form>      
            <label for="exampleInputEmail1">Usuario o correo: </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
        <br />   
        <br />   
            <label for="exampleInputPassword1">Contraseña: </label>
            <input type="password" class="form-control" id="exampleInputPassword1">  
        <br />       
        <br />   
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
</div>