@model Saaloon.Models.ListaCurso

@{
    ViewBag.Title = "ListaTemarios";
    Layout = "~/Views/Shared/_LayoutDocente.cshtml";
}
<br />
<h2>@Html.DisplayFor(model => model.NombreCurso)</h2>
<br />
<table class="table table-striped">
    <tr style="text-align:center"> 
        <th class="table-dark">
            Tema
        </th>

        <th class="table-dark">
            Descripción
        </th>
    </tr>

@foreach (var item in Model.TemarioM) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
    </tr>
}

</table>
<a href="@Url.Action("EditarCurso", "Docente", new { idCurso = Model.IdCurso } )" class="btn btn-success"><i class="fas fa-info-circle"></i><b> Mas Detalles</b></a>
<br />
<br />
